<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Make A New Bar</h1>
    <a href="/">Home</a> / <a href="/bars">Back To Bars</a>
    <hr>
    <form action="/bars" method="post">
        <label>Name:
            <input type="text" name="name">
        </label><br>
        <label>Location:
            <input type="text" name="location">
        </label><br>
        <input type="submit" value="Add Bar">
    </form>
</body>
</html>